#details-container {
    display: grid;
    grid-template-columns: 66% 34%;
        grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "details-name logo"
        "details-tags details-tags"
        "main main";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    max-width: 97vw;
    max-height: 86vh;
    margin: 5px;
}

@media (min-width: 650px) {
    #details-container {
        grid-template-rows: auto auto 1fr;
    }
}

.details-name{
    grid-area: details-name;
    font-size: 24pt;
    text-align: center;
    line-height: 24pt;
    color: white;
    place-self: center;
}

.details-imagearea {
    grid-area: logo;
    text-align: center;
}

.details-fit {
    max-width: 90%;
    max-height: 100%;
}

.details-description{
    grid-area: main;
    overflow-y: auto;
    color: white;
}

.details-background{
    background-color: #3f3f3f;
    border-radius: 5px;
    padding: 5px;
}

.details-tags{
    grid-area: details-tags;
    color: lightblue;
}

.details-tag{
    margin-left: 5px;
}
