{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "no-console": "off"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
