<div id="welcome">
  <div id="overlay"></div>
  <div id="welcome_panel">
    <h2 class="title">{{ site.strings.appTitle }}</h2>
    <h3 class="subtitle">{{ site.strings.appTitleSubTitle }}</h3>
    <p>{{ site.strings.appDescriptionText }}</p>
    <div class="tiny">Alle Angaben ohne Gewähr!</div>
    <div class="btns">
      <div id="confirmWelcome" class="btn pointer" style="border-width: 2px;" touch-action="none">{{ site.strings.letsGo }}</div>
    </div>
    <div class="tiny welcome_bottom">
      <div class="floatleft">
        <a href="https://github.com/codeformuenster/weihnachtsmarkt" target="_blank">
          Diese App ist Open Source.
        </a>
        <br />
        Kartenstyles &amp; Kartendaten:
        <a href="http://www.mapbox.com/" target="_blank">
          Mapbox
        </a>
        ,
        <a href="http://openstreetmap.org/" target="_blank">
          OpenStreetMap contributors
        </a>
      </div>
      <div class="floatright">
        <a href="http://codeformuenster.org" target="_blank">
          <img id="c4m" src="images/cfm_logo_noborder.png">
        </a>
      </div>
    </div>
  </div>
</div>
