<div id="welcome">
  <div id="overlay"></div>
  <div id="welcome_panel">
    <div class="close_panel pointer" id="closeWelcome" touch-action="none">
      &times;
    </div>
    <h2 class="title">Weihnachtsmarkt-App Münster 2015</h2>
    <h3 class="subtitle">mit Suche!</h3>
    <p>
      Diese App erlaubt es, Stände auf dem Weihnachtsmarkt in Münster zu durchsuchen. Einfach Suchbegriff oben ins Suchfeld eingeben. Passende Stände werden dann farblich markiert.
    </p>
    <div class="btns">
      <div id="confirmWelcome" class="btn pointer" style="border-width: 2px;" touch-action="none">
        Los gehts!
      </div>
    </div>
    <div class="tiny">
      Alle Angaben ohne Gewähr!
    </div>
    <div class="tiny">
      <hr>
      <div class="floatleft">
        Maptiles &copy;
        <a href="http://www.mapbox.com/" target="_blank">
          Mapbox
        </a>
        <br>
        Mapdata &copy;
        <a href="http://openstreetmap.org/" target="_blank">
          OpenStreetMap contributors
        </a>
        <br>
        <a href="https://github.com/codeformuenster/weihnachtsmarkt" target="_blank">
          Code dieser Webseite auf Github
        </a>
      </div>
      <div class="floatright">
        <img id="c4m" src="images/cfm_logo_noborder.png">
        <div>
          Ein Projekt von
          <a href="http://codeformuenster.org" target="_blank">
            Code For Münster
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
