.icon-beverage {
  background-image: url("../images/beverage.png");
}

.icon-clothes {
  background-image: url("../images/clothes.png");
}

.icon-craft {
  background-image: url("../images/craft.png");
}

.icon-food {
  background-image: url("../images/food.png");
}
