.search-container {
  padding: 10px;
  background: #343332;
}

.search-input {
  width: 100%;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  border: none;
}

.search-input:focus {
  outline: none;
}
